
.hi {
	
	height:300px;
	max-width: 300px;
  	margin: auto;
  	margin-top: -130px;
	background-color: #D1E0E0;
	display: block;
	
}

p{
	font-family: Arial;
	font-size: 150px;
	text-align: center;
	padding-top: 70px;
	
}

.scroll{
	height: 80px;
	border: none;
	max-width: 300px;
  	margin: 0 auto;
}

.scrollTxt {
	font-family: Arial;
	text-align: center;
	font-size: 25px;
	padding-top: 35px;
	padding-bottom: 35px;
}

.box {
	height: 50px;
	display: block;
	max-width: 300px;
  	margin: 0 auto;
}

.black {
	background-color: black;

}

.red {
	background-color: #CC3300;
}

.blue {
	background-color: #19A3D1;
}

.purple{
	background-color: #9900CC;
}

.gray {
	background-color: #D1E0E0;
}

.invisibox {
	background-color: white;
	width: 200px;
	height: 200px;
	
}